<%= link_to category_operations_path(category), class: 'category-card' do %>
  <div class="card-body">
    <h2 class='card-name'><%= category.name %></h2>
    <p class='card-date'><%= category.created_at.strftime('%d %b %Y') %></p>
  </div>
  <h2 class='card-total'>$<%= category.total %></h2>
<% end %>