<div class='total'>
  <h2>Total</h2>
  <h2><%= @category.name %></h2>
  <h2>$<%= @category.total %></h2>
</div>

<div class='cards-contr'>
  <% @operations.each do |operation| %>
    <%= render partial: 'partials/operation', locals: { operation: operation, category: @category }%>
  <% end %>
</div>

<footer>
  <%= link_to 'Add new transaction', new_category_operation_path(@category), class: 'add-button' %>
</footer>