<div id='total'>
  <h2>Total: <%= @category.total %></h2>
</div>
<% @operations.each do |operation| %>
  <%= render partial: 'partials/operation', locals: { operation: operation, category: @category }%>
<% end %>

<%= link_to 'Add new operation', new_category_operation_path(@category) %>