<%= form_with model: @operation, url: "/categories/#{@category.id}/operations", class: 'new-form' do |form| %>
  <div class='field'>
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
  <div class='field'>
    <%= form.number_field :amount, step: 0.1, placeholder: 'Amount' %>
  </div>
  <div class='field'>
    <%= form.submit 'Add', class: 'add-button' %>
  </div>
<% end %>